#plane{
	left: 318px;
	top: -10px;
}

#sunny{
	left: 114px;
	top: -48px;
}

#tree1sign{
	left: 97px;
	top: 215px;
}

#tree2map{
	left: 121px;
	top: 170px;
}

#tree3aboutZ{
	left: 169px;
	top: 149px;
}

#tree4culture{
	left: 235px;
	top: 207px;
}

#tree5afisha{
	left: 297px;
	top: 227px;
}