@textfont: "Open Sans", Verdana, Segoe, sans-serif;


body{
	background: url(../img/back_wood.jpg);
	background-attachment: fixed;
	font-family: @textfont;
	height: 100%;
	color: white;
}

.illustration {
	position: absolute;
}

.logo{

}

.headerImgLeft, .headerImgRight {
	position: relative;
	width: 35%;
}

.headerImgCenter{
	width: 30%;
	margin: 0 auto;
}

