@textfont: "Open Sans", Verdana, Segoe, sans-serif;


body{
	background: url(../img/back_wood.jpg);
	background-attachment: fixed;
	font-family: @textfont;
	height: 100%;
	color: white;
}

.illustration {
	position: absolute;
}

.logo{
position: absolute;
top: -20px;
}

.headerImgLeft, .headerImgRight {
	position: relative;
	width: 34%;
	float: left;
	height: 310;
}

.headerImgCenter{
	width: 30%;
	margin: 0 auto;
	position: relative;

}

