	h1{
		font-family: 'Catamaran', sans-serif;
		font-weight: 300;
		font-size: 45px;
		text-align: center;
		text-transform: uppercase;
		padding-left: 10px;
	}	

	h2{
		font-family: 'Catamaran', sans-serif;
		font-weight: 700;
		font-size: 24px;
		text-align: left;
		text-transform: uppercase;
		padding-left: 10px;
	}

	h3{
		padding-top: 10px;
		font-family: 'Catamaran', sans-serif;
		font-weight: 600;
		font-size: 20px;
		text-align: left;
		padding-left: 10px;
	}

	p{
		padding-top: 10px;
		font-family: 'Catamaran', sans-serif;
		font-weight: 400;
		font-size: 18px;
		text-align: left;
		margin-left: 10px;
	}

	img{
		padding: 10px;
		border: 1px solid #e9ebed;
		width:100px; 
		float:left;
		margin-right: 10px;
		display: block;
	}
	div{
		padding: 20px;
		border: 1px solid #e9ebed;
		margin: 5px;
	}
	body { 
		color: white;
		background-image: url("http://www.intrawallpaper.com/static/images/abstract-mosaic-background.png");
		background-size: 1280px;
		padding-left: 10px;
	}
	
