*{
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html{
	height: 100%;
	font-size: 16px;
}

body{
   font-family: Tahoma, Verdana, Segoe, sans-serif;
   height: 100%;
   color: white;
}

.wrapper{
	background: url(../img/background.jpg) no-repeat center;
	background-position: 100%;
	background-size: cover;
	text-align: center;
}

.clearfix:after{
    content: "";
    display: table;
    clear: both;
}


/*-----------------------------------------------------*/

.menu_wrapper{
	background-color: #085596;
	width: auto;
}


.menu{
	float: right;
}

.menu li{
	float: left;
}

.menu li a{
	margin: 0;
	line-height: 39px;
	padding: 10px;
	color: #60B5ED;
}

.menu li a:hover{
	background-color: #4EABDA;
	color: white;
	transition: all 0.5s;
}



.menu .menu_active a{
	background-color: #4EABDA;
	color: white;
	font-weight: bold;
}

.menu .menu_flag a{
	color: white;
}

.menu .menu_flag{
	background: url(src="../img/flag.png") no-repeat;
	padding-left: 30px; 
	background-position: 2%;
	border-left: 1px solid #56A2DC;
}


.menu .menu_ola a{
	border-right: 1px solid #65A7DB;
	border-left: 1px solid #65A7DB;
	color: white;
	background-image: -moz-linear-gradient( 90deg, rgb(46,122,209) 0%, rgb(80,175,220) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(46,122,209) 0%, rgb(80,175,220) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(46,122,209) 0%, rgb(80,175,220) 100%);
}


.form_wrapper{
	width: 100%;
	text-align: center;
}

.form_content{
	position: relative;
	text-align: center;
	max-width: 300px;
	width: 95%;
	left:50%;
	transform: translateX(-50%);
}

h2 {
	margin-top: 150px;
	font-size: 24px;
	max-width: 600px;
	width: 95%;
	padding: 20px;
	background-color: rgba(0,0,0,0.6);
	margin-bottom: 2px;
}

.form, h2 {
	position: relative;
	left:50%;
	transform: translateX(-50%);
}

.form {
	max-width: 600px;
	width: 95%;
	padding: 20px;
	background-color: rgba(0,0,0,0.6);
}

.ou{
	left:50%;
}

.ou li{
	float: left;
	color:  #666666;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.hr {
	display: block-inline;
	height: 1px;
	border: none;
	width: 125px;
	margin: 5px;
	margin-top: 7px;
	background-color: #666666;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.9);
}

.info {
	height: auto;
	width: 100%;
	background-color: #101010;
	border:none;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 1px 0px rgba(73,73,73,1);            
    font-size: 16px;
    color: white;
}

.input_fn{
	background-color: #1B5288;
	box-shadow: inset 0px 0px 5px rgba(0,0,0,0.8);
	box-shadow: 0px 0px 20px rgba(53,231,244,1);
}

input[type="text" name="firstname"]{
	background-color: #1B5288;
}

input[type="checkbox"]{
	width: auto;
}

/*
.create {
	left:50%;
	color: white;
	width: 155px;
	height: 41px;
	display: block;
	background-image: url(../img/button.png);
	background-repeat: no-repeat;
	padding: 8px;
}
*/

input[type="button"] {
	margin-top: 10px;
	cursor: pointer;
	font-size: 16px;
	color: white;
	width: 151px;
	height: 38px;
	border: none;
	background: url(../img/button.png)  no-repeat;
}

.form_text{
	margin: 20px;
	font-size: 11px;
}

